menuconfig TARGET_SYSTEMELEKTRONIK
	bool "Target Systemelektronik Drivers"
	default y

if TARGET_SYSTEMELEKTRONIK

config TARGET_SYSTEMELEKTRONIK_FPGA
	bool "Target Systemelektronik FPGA"
	depends on DMA_CMA
	default y
	help
	Say Y here to enable the Target Systemelektronik FPGA device driver

endif
